.water-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
  }
}

.wrapper-auth {
  justify-content: space-between;
  align-items: center;
  color: #fff;

  .auth {
    margin: 22rem 0 0;
    z-index: 2;
    background-color: rgba(18, 38, 32, 0.6);
    border-radius: 0.5rem;
    overflow: hidden;

    @media (max-width: 1400px){
      margin-top: 18rem;
    }

    @include desktop1200 {
      margin-top: 12rem;
    }

    @include ipad {
      margin-top: 27.5rem;
    }

    @media (max-width: 768px) and (max-height: 890px) {
      margin-top: 20rem;
    }

    @media (max-width: 768px) and (max-height: 820px) {
      margin-top: 15rem;
    }

    @media (max-width: 768px) and (max-height: 700px) {
      margin-top: 10rem;
    }

    @include iphone {
      margin-top: 6rem;
    }

    &__footer {
      font-size: 1.6rem;
      align-self: center;
      line-height: 10rem;
      text-align: center;
      z-index: 2;

      @media (max-width: 480px) {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-bottom: 10px;
      }
    }
  }
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 38rem;
  height: 42.5rem;
  padding: 3.2rem 0 0;

  @include ipad {
    width: 34.8rem;
    height: 42.6rem;
  }

  @include iphone{
    width: 30rem;
    height: 42.4rem;
  }

  .article-title_auth {
    font-size: 3.5rem;
    line-height: 4.1rem;

    @include iphone {
      font-size: 3rem;
      line-height: 3.6rem;
    }
  }

  .horizontal-line__auth {
    margin: 2rem 0 3rem;

    @include iphone {
      width: 8.9rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .form {

    &__login-wrapper, &__password-wrapper {
      display: flex;
      position: relative;
      width: 34rem;
      height: 4.5rem;
      margin-bottom: 2rem;
      line-height: 10rem;
      color: $dark-green;

      @include ipad {
        width: 30.5rem;
      }

      @include iphone {
        width: 27.2rem;
      }
    }

    &__login, &__password {
      width: 100%;
      height: 100%;
      padding-left: 6.2rem;
      border-radius: 2.5rem;
      line-height: 10rem;
      color: $dark-green;

      &:focus {
        border-radius: 2.5rem;
      }
    }

    &__checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      @include iphone {
        padding-left: 4rem;
      }
    }

    &__human-title {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 700;
      margin-bottom: 1rem;

      @include desktop1200 {
        font-weight: 500;
      }

      @include iphone {
        padding-left: 4rem;
      }
    }

    &__radio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 3.5rem;

        @include ipad {
          margin-bottom: 3.5rem;
        }
      }

      &_left {
        margin-right: 4rem;

        @include iphone {
          padding-left: 4rem;
        }
      }
    }

    &-checkbox {

      &__input {
        display: none;

        &:checked + .form-checkbox__custom::before {
          content: '';
          display: block;
          position: absolute;
          top: 25%;
          left: 25%;
          width: 1.1rem;
          height: 0.9rem;
          background: url("../img/icons/check.svg") 50% no-repeat transparent;
          background-size: contain;
        }
      }

      &__custom {
        position: relative;
        width: 2rem;
        height: 2rem;
        border-radius: 0.2rem;
        background: $light-green;
        margin-right: 1rem;
      }

      &__title {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    &-radio {

      &__input {
        display: none;

        &:checked + .form-radio__custom::before {
          content: '';
          display: block;
          position: absolute;
          top: 25%;
          left: 25%;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: $green;
        }

        &:checked ~ .form-radio__title {
          font-weight: 500;
          color: $green;

          @include desktop1200 {
            font-weight: 400;
          }
        }
      }

      &__custom {
        position: relative;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: #fff;
        margin-right: 1rem;
      }

      &__title {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    &__tabs {
      width: 38rem;

      @include ipad {
        width: 34.8rem;
      }

      @include iphone {
        width: 30rem;
      }
    }
  }

  .tabs__item_auth {
    width: 50%;
  }

  .tabs__link_auth {
    display: block;
    cursor: pointer;
    text-align: center;
    background: $light-green;
    padding: 0.3rem 5rem;

    @include ipad {
      padding: 0.2rem 3rem;
    }

    @include iphone {
      padding: 0.9rem 3rem;
    }

    &:hover {
      background: $green;
    }
  }

  .tabs__item_index {

    .tabs__link {
      padding: 0.5rem 5rem;

      @include ipad {
        padding: 0.4rem 3rem;
      }

      @include iphone {
        padding: 0.9rem 3rem;
      }
    }
  }

  .login__sign, .password__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    top: 0.2rem;
    left: 0;
    width: 4.5rem;
    height: 4.3rem;
    background: #f0efe9;
  }

  .login-sign__image, .password-sign__image {
    fill: #c4cbcd;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.btn {
  display: block;
  min-height: 4.5rem;
  font-size: 1.6rem;
  line-height: 2.258;
  font-weight: 500;
  color: #fff;
  border-radius: 4rem;
  padding: 0.3rem 2.8rem;
  overflow: hidden;

  @media (max-width: 480px) {
    min-height: 4rem;
    font-size: 1.4rem;
    line-height: 1.714;
    padding: 0.7rem 2rem;
  }
}

.socials__icon {

  &_vk {
    width: 3.1rem;
    height: 1.7rem;
  }

  &_github {
    width: 2.6rem;
    height: 2.2rem;
  }

  &_in {
    width: 2.4rem;
    height: 2.2rem;
  }
}

.socials {

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin-right: 3.0rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      .socials__icon {
        fill: $green;
      }
    }
  }
}

.tabs {

  &__list {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
  }

  &__item {
    border-right: 0.2rem solid #a0ba9e;

    &:last-child {
      border-right: none;
    }
  }

  &__link {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    line-height: 3.6rem;
    font-weight: 500;
    color: #fff;
    padding: 0.3rem 3rem 0.3rem 3.1rem;

    @include ipad {
      padding: 0.3rem 2.4rem 0.4rem 2.6rem;
    }

    @include iphone {
      line-height: 2.4rem;
      padding: 1rem 2rem;
    }
  }
}

.fullscreen-menu {
  position: relative;
  z-index: 5;
  width: 4rem;
  height: 3.4rem;
  cursor: pointer;

  @media (max-width: 480px) {
    width: 2.6rem;
    height: 2.3rem;
  }

  &:hover {

    .fullscreen-menu__top, .fullscreen-menu__middle, .fullscreen-menu__bottom {
      background: $green;
    }
  }

  &_active {
    position: fixed;
    right: 3rem;

    @include iphone {
      right: 1rem
    }

    .fullscreen-menu__top {
      transform: translateY(1.5rem) translateX(0) rotate(45deg);

      @media (max-width: 480px) {
        transform: translateY(1rem) translateX(0) rotate(45deg);
      }
    }
    .fullscreen-menu__middle {
      opacity: 0;
    }

    .fullscreen-menu__bottom {
      transform: translateY(-1.5rem) translateX(0) rotate(-45deg);

      @media (max-width: 480px) {
        transform: translateY(-1rem) translateX(0) rotate(-45deg);
      }
    }
  }

  &__top, &__middle, &__bottom {
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    background: #fff;
    border: none;
    height: 0.5rem;
    width: 4rem;
    transition: all .35s ease;
    border-radius: 0.2rem;

    @media (max-width: 480px) {
      width: 2.6rem;
      height: 0.3rem;
    }

    &:nth-of-type(2) {
      top: 1.5rem;

      @media (max-width: 480px) {
        top: 1rem;
      }
    }

    &:nth-of-type(3) {
      top: 3rem;

      @media (max-width: 480px) {
        top: 2rem;
      }
    }
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  background: $green;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 4;

  &_open {
    opacity: .8;
    visibility: visible;
    height: 100%;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35rem;
    margin-top: 26rem;
    font-size: 6.3rem;
    font-family: SansusWebissimo;
    text-transform: uppercase;
    text-align: center;

    @media (max-height: 900px) {
      margin-top: 18rem;
    }

    @media (max-height: 800px) {
      margin-top: 15rem;
    }

    @media (max-height: 700px) {
      margin-top: 10rem;
    }

    @media (max-height: 625px) {
      margin-top: 5rem;
    }

    @media (max-height: 575px) {
      margin-top: 0;
    }

    @include ipad {
      font-size: 4.9rem;
    }

    @media (max-width: 400px) {
      font-size: 3.5rem;
    }
  }

  &__list {
    height: 100%;
  }

  &__item {
    position: relative;
    opacity: 1;
    height: 6.3rem;
    margin-bottom: 8rem;

    @media (max-width: 400px) {
      margin-bottom: 4rem;
    }

    &:after {
      position: absolute;
      visibility: hidden;
      content: '';
      top: 8rem;
      left: 38%;
      width: 8.9rem;
      height: 0.3rem;
      background: #fff;

      @include ipad {
        left: 34%;
        top: 7rem;
      }

      @media (max-width: 400px) {
        top: 5rem;
        left: 36%;
        width: 5.6rem;
      }
    }

    &:hover:after {
      visibility: visible;
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-decoration: none;
  }
}

.header {
  background: url("../img/bg/water.jpg") center center / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 3rem 9rem;

    @include iphone {
      margin: 1.5rem 1.1rem 9rem;
    }
  }

  .socials__icon {
    fill: #fff;

    &_vk {

      @media (max-width: 480px) {
        width: 2.4rem;
        height: 1.3rem;
      }
    }

    &_github {

      @media (max-width: 480px) {
        width: 2.1rem;
        height: 1.7rem;
      }
    }

    &_in {

      @media (max-width: 480px) {
        width: 1.9rem;
        height: 1.7rem;
      }
    }
  }

  .header__title {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13rem;

    @include ipad {
      margin-bottom: 9.5rem;
    }

    @include iphone {
      margin-bottom: 15rem;
    }
  }

  .header-title__name {
    font-size: 3.5rem;
    line-height: 1.171;
    font-weight: 500;
    margin-bottom: 0.2rem;

    @include iphone {
      font-size: 2.1rem;
      line-height: 2.8rem;
    }
  }

  .header-title__desc {
    font-size: 1.6rem;
    line-height: 2.4rem;

    @include iphone {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 7.5rem;

    @include ipad {
      margin-bottom: 8.5rem;
    }

    @include iphone {
      margin-bottom: 7rem;
    }

    .down-scroll {
      z-index: 2;
    }
  }
}

.header__photo {
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
  width: 14rem;
  height: 14rem;
  background: url("../img/content/my-photo.jpg") left top / cover no-repeat;
  margin-bottom: 2.5rem;
}

.down-scroll__img {
  width: 2.6rem;
  height: 1.6rem;
  fill: #fff;
}

.section-title {
  font-size: 6.3rem;
  line-height: 0.889;
  font-family: SansusWebissimo;
  color: $dark-green;
  text-transform: uppercase;

  @include ipad {
    font-size: 4.9rem;
    line-height: 5.2rem;
  }

  @media (max-width: 480px) {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

.article-title {
  font-size: 3.5rem;
  line-height: 4.1rem;
  font-family: SansusWebissimo;
  text-transform: uppercase;

  @include ipad {
    font-size: 3rem;
    line-height: 3.6rem;
  }

  @media (max-width: 480px) {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
}

.horizontal-line {
  width: 8.9rem;
  height: 0.3rem;

  @include iphone {
    width: 5.6rem;
  }

  &_white {
    background: #fff;
    margin: 2.5rem 0;

    @include ipad {
      margin: 1.2rem;
    }
  }

  &_black {
    background: #373e42;
    margin: 2.5rem 0 2rem;

    @include desktop1200 {
      margin: 1.5rem 0 3rem;
    }

    @include iphone {
      margin: 1rem 0;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(55, 62, 66, 0.851);
  color: #fff;

  @include ipad {
    font-size: 1.4rem;
    line-height: 1.714;
  }

  &-line {
    align-self: center;
    height: 8.7rem;
    width: 0.1rem;
    background-color: rgba(255, 255, 255, 0.2);

    @media (max-width: 1100px){
      display: none;
    }

    @media (max-width: 500px) {
      display: block;
      width: calc(100%);
      padding: 0 1rem;
      height: 0.1rem;
      margin-bottom: 1.5rem;
    }
  }

  .footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 2.4rem 3rem 4.6rem;

    @include desktop1200 {
      padding-bottom: 2rem;
    }

    @include ipad {
      flex-wrap: wrap;
      padding: 2.4rem 2rem 4.6rem;
    }

    @media (max-width: 500px) {
      flex-direction: column;
      text-align: center;
      padding: 1.5rem 1rem;
    }
  }

  &__left {
    width: 56rem;
    line-height: 1.42;
    font-weight: 300;
    margin-right: 1rem;

    @include ipad {
      width: 50%;
      margin-right: 0;
    }

    @media (max-width: 500px) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__center {
    width: 58rem;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;

    @include ipad {
      width: 50%;
      margin-left: 0;
      margin-bottom: 4rem;
    }

    @media (max-width: 500px) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .footer-center {

    &__top {
      margin-bottom: 2.5rem;

      @media (max-width: 500px) {
        margin-bottom: 1.5rem;
      }
    }

    &__bottom {
      padding: 0 2rem;

      @media (max-width: 500px) {
        padding: 0;
      }
    }
  }

  .links {

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__item {
      margin-left: 5%;

      @include desktop1200 {
        margin-left: 3%;
      }

      @include ipad {
        margin-left: 3%;
      }

      @include iphone {
        margin-left: 1.5%;
      }

      &:first-child {
        margin-left: 2rem;

        @include ipad {
          margin-left: 2.4rem;
        }

        @include iphone {
          margin-left: 1rem;
        }
      }
    }

    &__link {
      display: block;
      width: 100%;
      line-height: 1.5;
      font-weight: 500;
      color: #fff;
    }
  }

  .socials {

    &__list {
      display: flex;
      justify-content: flex-start;

      @media (max-width: 500px) {
        justify-content: center;
      }
    }

    &__item {
      margin-right: 3rem;

      &:hover {

        .socials__icon {
          fill: #fff;
        }
      }
    }

    &__link {
      display: block;
    }

    &__icon {
      fill: #9a9e9f;
    }

  }

  &__right {
    width: 56rem;
    color: rgba(255, 255, 255, 0.502);
    font-style: italic;
    line-height: 1.625;
    margin-left: 4.5rem;

    @include ipad {
      width: 100%;
      margin-left: 0;
    }
  }

  .footer-right__bottom {
    font-weight: 700;
  }

  &__bottom {
    width: 100%;
    background-color: rgba(108, 156, 90, 0.851);
    text-align: center;
    padding: 0.6rem 0;
    line-height: 1.5;
    font-weight: 300;
  }
}
