footer.footer
    .footer__top
        .footer__left Этот сайт я сделал в рамках обучения в школе Loftschool.
        .footer__center
            .center-top
                ul.links__list
                    li.link__item: a.links__link(href='works.html') Мои работы
                    li.link__item: a.links__link(href='about.html') Обо мне
                    li.link__item: a.links__link(href='blog.html') Блог
                    li.link__item: a.links__link(href='auth.html') Авторизация
            .center-bottom
                include ../components/_socials
        .footer__right
            .right-top
            |Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живёте.
            .right-bottom
            |- Martin Golding
    .footer-bottom Сергей Акмалов | создано с любовью в Loftschool | 2016