.header_blog {

  .container {
    margin-bottom: 11rem;
  }

  .header__top {
    margin-bottom: 1.9rem;
  }
}

.header__bottom_blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  .header__photo {
    margin-bottom: 2.5rem;
  }
}

.blog-desc {
  font-size: 1.6rem;
  line-height: 1.5;
}

.bg__blog {
  position: absolute;
  fill: #faf8f0;
  top: 28rem;
}

.blog {
  color: #455a64;
  background-color: #faf8f0;

  .container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6.5rem;
  }

  .nav {
    width: 36rem;
    margin-right: 12rem;

    &__list {
      text-align: right;
    }

    &__item_active {

      .nav__link {
        color: $green;
        font-weight: 700;
        border-right: 0.333rem $green solid;
      }
    }

    &__link {
      display: block;
      padding: 1.4rem 1.8rem;
      color: #455a64;
      line-height: 1.625;
    }
  }

  .blog__main {
    width: 100rem;
  }

  .blog__date {
    color: $green;
    line-height: 2.5625;
  }

  .blog__record {
    line-height: 1.625;
  }
}