.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url('../img/bg/water.jpg') center center / cover no-repeat;
  color: #fff;

  &__container {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 395px;
    min-height: 395px;
    text-align: center;
    background-color: rgba(18, 38, 32, 0.6);
    margin-bottom: 30px;
  }

  &__photo-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 40px;
  }

  .photo {
    align-self: center;
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    background: url("../img/content/my-photo.jpg") left top / cover no-repeat;
    margin-bottom: 20px;
  }

  .title {

    &__name {
      font-weight: 500;
      font-size: 28px;
      line-height: 1.241;
    }

    &__desc {
      line-height: 1.5;
    }
  }

    &__footer {
    align-self: center;
    margin-bottom: 40px;
  }
}


.btn_auth {
  align-self: flex-end;
  margin: 24px 70px 0 0;
  border: 1px #fff solid;

  &:hover {
    background: $green;
    transition: background 0.3s;
  }
}