.welcome {
  background: url('../img/bg/water.jpg') center center / cover no-repeat;
  color: #fff;

  &__container {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 395px;
    min-height: 395px;
    text-align: center;
    background-color: rgba(18, 38, 32, 0.6);
    margin-bottom: 30px;
  }

  &__photo-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 40px;
  }

  .header-title__name {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.241;
  }

  .header-title__desc {
      line-height: 1.5;
  }


  .socials__icon {
    fill: #90a09a;
  }

    &__footer {
    align-self: center;
    line-height: 6.285625;
  }
}

.btn_auth {
  align-self: flex-end;
  margin: 24px 70px 0 0;
  border: 1px #fff solid;

  &:hover {
    background: $green;
    transition: background 0.3s;
  }
}