doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        title Авторизация

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='css/vendor.css')
        link(rel='stylesheet' href='css/main.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        .water-background
            canvas.water-canvas
        .wrapper.wrapper-auth
            .auth
                .article-title.article-title_auth Авторизуйтесь
                .horizontal-line.horizontal-line_white.horizontal-line__auth
                form.auth__form
                    .form__login-wrapper
                        input.form__login(name="" type="text" placeholder="Логин")
                        .login__sign
                            svg.login-sign__image
                                use(xlink:href="img/sprite.svg#login")
                    .form__password-wrapper
                        input.form__password(name="" type="password" placeholder="Пароль")
                        .password__sign
                            svg.password-sign__image
                                use(xlink:href="img/sprite.svg#password")
                    label.form__checkbox
                        input(name="auth-human-checkbox" type="checkbox").form-checkbox__input
                        .form-checkbox__custom
                        .form-checkbox__title Я человек
                    .form__human-title Вы точно не робот?
                    .form__radio-buttons
                        label.form__radio.form__radio_left
                            input(name="auth-human-radio" type="radio").form-radio__input
                            .form-radio__custom
                            .form-radio__title Да
                        label.form__radio.form__radio_right
                            input(name="auth-human-radio" type="radio").form-radio__input
                            .form-radio__custom
                            .form-radio__title Не уверен
                    .form__tabs
                        ul.tabs__list.tabs__list_auth
                            li.tabs__item.tabs__item_auth.tabs__item_index
                                a(href="index.html").tabs__link.tabs__link_auth На главную
                            li.tabs__item.tabs__item_auth
                                button(type="submit").tabs__link.tabs__link_auth Войти
            .auth__footer Сергей Акмалов | создано с любовью в Loftschool | 2016
        script(src='js/vendor.js')
            script(src='js/main.js')