doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        title Блог

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='css/vendor.css')
        link(rel='stylesheet' href='css/main.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        .wrapper
            header.header.header_blog
                include ../parts/_header__top
                .header__bottom_blog
                    .header__photo
                    .section-title.section-title_blog Блог
                    .horizontal-line.horizontal-line_white
                    .blog-desc Статьи, которые я написал
                    a.down-scroll(href='#')
                        svg.down-scroll__img
                            use(xlink:href="img/sprite.svg#arrow_down")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300" preserveAspectRatio="none" class="bg_blog")
                    polygon(class="left" points="0,0 0,300 501,300 501,84")
                    polygon(class="right" points="1000,0 1000,300 500,300 500,84")
            section.blog
                include ../parts/_nav
                main.blog__main
                    article.blog__article
                        .article-title.article-title_blog Что такое Sass и зачем он нужен
                        .blog__date 22 ноября 2016 г.
                        .blog__record
                            p Sass (Syntactically Awesome Stylesheets) — это скриптовый метаязык, который компилируется в обычные CSS-стили. В 2007-м появилась первая версия SASS, разработанная Гемптоном Кетлином. У языка есть два основных “начертания”: SASS и более новый SCSS. Отличия между ними небольшие, тем не менее нарушение правил синтаксиса не позволит скомпилировать файл. В SASS-синтаксисе нет фигурных скобок, вложенность элементов в нем реализована при помощи отступов, а стилевые правила обязательно отделены новыми строками. Независимо от синтаксиса, SCSS обратно совместим с CSS. То есть любой CSS обязательно будет валидным SCSS-кодом.
                            p Sass позволяет назначать переменные — и это одно из ключевых преимуществ. Переменная, по аналогии с php, начинается со знака доллара ($), значения присваиваются при помощи двоеточия.
                            p Sass позволяет вкладывать правила CSS друг в друга. Вложенные правила применяются только для элементов, соответствующих внешним селекторам. Это помогает избежать повторения родительских селекторов, и делает сложные CSS макеты с большим количеством вложенных селекторов гораздо проще.

            include ../parts/_footer
            script(src='js/vendor.js')
            script(src='js/main.js')