doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        title Мои работы

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='css/vendor.css')
        link(rel='stylesheet' href='css/main.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        .wrapper
            header.header.header_works
                include ../parts/_header__top
                include ../parts/_header__bottom
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300" preserveAspectRatio="none" class="bg_works")
                    polygon(class="left" points="0,0 0,300 501,300 501,84")
                    polygon(class="right" points="1000,0 1000,300 500,300 500,84")
            section.my-works
                .section-title Мои работы
                .horizontal-line.horizontal-line_black
                .my-works__slider
                    .slider__left
                        .slider__desc
                            .article-title Сайт школы онлайн образования
                            .horizontal-line.horizontal-line_black
                            .slider__text HTML, CSS, Javascript
                            a(href="#").btn.btn_works Посмотреть сайт
                    .slider__right
                        .slider__work
                            img(src="img/content/work-1.png").slider__image
                        .slider__controls
                            .slider__prev
                            .slider__next
            section.what-about
                .section-title Что обо мне говорят
                .horizontal-line.horizontal-line_black
                .what-about__callbacks
                    .what-about__left
                        .what-about__photo
                            img.what-about__image(src='#',alt='Дима')
                        .what-about__comment
                        |Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                        .what-about__sign
                            .sign__top
                            |Ковальчук Дмитрий
                            .sign__bottom
                            |- основатель Loftschool
                    .what-about__right
                        .what-about__photo
                            img.what-about__image(src='#',alt='Зар')
                        .what-about__comment
                        |Этот код выдержит любые испытания. Только пожалуй сайт не загружается в слишком старых браузерах!
                        .what-about__sign
                            .sign__top
                            | Зар Захаров
                            .sign__bottom
                            | - преподаватель
                .contact
                    .article-title Связаться со мной
                    .horizontal-line.horizontal-line_black
                    form.contact__form
                        input.form__name(name="" type="text" placeholder="Имя")
                        input.form__email(name="" type="text" placeholder="Email")
                        textarea.form__textarea(placeholder="Ваше сообщение")
                        .contact__tabs
                            input.tabs__submit(name"" type="submit" value="Отправить")
                            input.tabs__submit(name"" type="reset" value="Очистить")
                a.down-scroll(href='#')
                    svg.down-scroll__img
                        use(xlink:href="img/sprite.svg#arrow_down")
                include ../parts/_footer
        script(src='js/vendor.js')
        script(src='js/main.js')