ul.socials__list
    each href, title in icons
        li.socials__item
            a(href=`${href}`).socials__link
                svg(class="socials__icon socials__icon_" + title)
                    use(xlink:href="img/sprite.svg#" + title)